[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
mysqlclient = "*"
pytz = "*"

[dev-packages]
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.6"
